   .suggestions{
    background-color: white;
    max-width: 60%;
    border-radius: 25px;
    padding: 50px;
    overflow: hidden;

    @media (max-width: 1023px){
        max-width: 100%;
        padding: 15px;
    }
    &__titre{
        font-size: 2.3rem;
        font-family: 'roboto', sans-serif;
        color: #366A4D;
        font-weight: 700;
        margin-bottom: 50px;
        text-align: center;
        @media(max-width:1023px){
        max-width: 100%;
        line-height: 28px;
        font-size: 2em;
        font-weight: 700;
        margin: 20px 0px 50px 0px;
        }}
    &__article{
        overflow: hidden;
        border-radius: 25px;
        border-radius:30px;
        background: linear-gradient(152deg, #7c004a 17.31%, #2c695f 82.12%);
        display: grid;
        max-width: 80%;
        margin: auto;
        justify-content: center;
        padding: 25px 50px 50px 50px;
        grid-template-columns: auto 1fr;
        margin-bottom: 50px;
        gap: 20px;
        @media(max-width:1023px){
        display: flex;
        flex-direction: column;
        padding: 20px;
        max-width: none;
    }
    &__contenu{
        display: flex;
        flex-direction: column;
        list-style: none;
        order: 3;
    }
    &__titre{
        font-size: 2.3rem;
        font-family: 'roboto', sans-serif;
        color: #D1EC7A;
        text-decoration: none;

        @media(max-width:1023px){
        max-width: 100%;
        line-height: 28px;
        font-size: 2em;
        font-weight: 700;
        text-align: center;
        margin: auto; 
        }
        &__titre:hover{
        color: white;
        text-decoration: underline;
        }}
    &__description{
        font-size: 1.5rem;
        font-family: 'roboto', sans-serif;
        color: #D1EC7A;
        margin-top: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 15; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @media(max-width:1023px){
        max-width: 90%;
        line-height: 18px;
        font-size: 1.3;
        display: -webkit-box;
        -webkit-line-clamp: 12; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        }}
    &__image{
        border-radius: 25px;
        object-position: center;
        height: auto;
        object-fit: cover;
        align-self: center;
        float: left;
        order: 2;

        @media (max-width: 768px){
        max-width: 100%;
        min-width: 100%; 
        }}}}