*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



//menu burger

.toggle-bouton{
    display: flex;
    justify-content: flex-end;
   
  
    
}

.burger{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.75em 2em 1.5em 2em;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    width: 28px;
    height: 20px;
    transition:  all 250ms ease-out;
    cursor: pointer;
}


.burger:before,
.burger:after{
    content: "";
    width:40px;
    height:2px;
    position: absolute;
    background-color: #000000;
    transition: all 250ms ease-out;
    will-change: transform;

}
.burger:before{
    transform: translateY(-3px);
}

.burger:after{
    transform: translateY(3px);
}
.active.burger:before{
    background-color: white;
    transform: translateY(0px) rotate(45deg);
}
.active.burger:after{
    background-color: white;
    transform: translateY(0px) rotate(-45deg);
}

.menu__liste{
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin: auto;
    position: fixed;
    gap: 1em;



}
.menu__lien{
    font-size: 4em;
    font-weight: 1000;
    color: white;
    text-decoration: none;
    transition: all 250ms ease-out;
    cursor: pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

.menu{

    z-index: 100;
    position: fixed;
   
   
  
    padding: 50px;
    width: 100vw;
    height: 100vh;
   
  

}	

.char{
    opacity: 0;
}

.menu__listeItem{
    list-style: none;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
   
   
}
.menu__liste{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 50%;  
}
.menu__lien{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 8rem;
    font-weight: 1000;
   
}
.menu__lien:hover{
    color: rgb(255, 255, 255, 0.5);
  
    transition: all 0.5s;
}

.entete{
    

    position: fixed;
    width: 100%;
    z-index: 1;
    height: 100vh;
   
}