/**
* @author Daoud Coulibaly 2040480@csfoy.ca
*/
@mixin boutonCommun {
  text-decoration: none;
  border-radius: 5px;
  padding: 14px 32px;
}

.bouton {
  @include boutonCommun;
  background-color: $violetPrincipal;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;

  &__lien{
    text-decoration: none;
    color: white;
    font-family: $fonteSecondaire;
    @include fontSize(16px);
  }
  &:hover, &:active {
    background-color: $violetSurvol;
    color: $violetTexteSurvol;
  }
  &:focus {
    outline-color: $violetSurvol;
  }

  &__suivant, &__precedent{
    background-color: transparent;
    border: none;
    outline: none;

    &__image{
      cursor: pointer;
    }
  }
}


