/**
* @author Daoud Coulibaly 2040480@csfoy.ca
*/

/** Polices de caractères **/

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$gradient: linear-gradient(152deg, #7c004a 17.31%, #2c695f 82.12%);
$gradientSansRotation: linear-gradient(#7c004a 17.31%, #2c695f 82.12%);
$gradient2: linear-gradient(#E7FFDC, #E6E5FF);

$vertPrincipal: #D1EC7A;
$vertSecondaire: #366A4D;

$violetPrincipal: #6851FF;
$violetSurvol: #6A3D96;
$violetTexteSurvol: #DEB8FF;
/* Autres couleurs */


/** Points de rupture **/
$desktop : 601px;


// Définition des variables en SCSS
$padding: min(8vw, 8em);
$titre: clamp(5em, 7.5vw, 7.5em);
$rgap: calc($titre * 0.3);
$petit-padding: $rgap;

$gap: calc($titre * 0.3);
$bordure: calc($titre * 0.4);

$coin: 1;
$padding-offset: calc($padding - $petit-padding);
$blanc: white;
$blanc-rgb: 242, 237, 233;




   