.accueil{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding-left: var(--padding);
  padding-right: var(--padding);
  max-width:  calc(var(--titre)* 14);
  margin: 0 auto;
  height: 100vh;  
  
  @media (max-width:768px){
    height: 30vh;
}

  @media (min-width: 768px) {
  padding-left: var(--petit-padding);
  padding-right: var(--petit-padding);
}
  &__gros-titre{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  gap: 0.03em;
  &__ligne1{
    display: flex;
    flex-direction: row;
    gap: var(--gap);

  @media(max-width:768px){
      margin-left: 20px;
}
  & span{
      font-size: calc(var(--titre)* 1.7);
      font-family: 'Times New Roman', Times, serif;
      font-weight: 800;
      line-height: 0.85;
      text-transform: uppercase;

  @media (max-width:768px){
        font-size: 10.65vw;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 800;
        line-height: 0.85;
        text-transform: uppercase;
}}}
  &__ligne2{
    display: flex;
    justify-content: flex-end;

  @media(max-width:768px){
      margin-left: 20px;
}
  & span{
      font-size: calc(var(--titre)* 1.7);
      font-family: 'Times New Roman', Times, serif;
      font-weight: 800;
      line-height: 0.85;
      text-transform: uppercase;
      color: var(--blanc);

  @media (max-width:768px){
        color: black;
        font-size: 10.65vw;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 800;
        line-height: 0.85;
        text-transform: uppercase;
}}}}
  &__video{
  width: 100%;
  position: relative;
  margin-top: calc((var(--titre)* -1.65) + var(--rgap));
  pointer-events: none;

  @media (max-width:768px){
  margin:0;
}

  &__contenu{
  position: relative;
  border-radius: var(--bordure);
  width: 100%;
  height: unset;
  overflow: hidden;
  transform: translateZ(0);
  pointer-events: none;
  &::before{
    content: "";
    display: block;
    padding-top: calc(var(--titre)* 5);

  @media (max-width:768px){
      padding-top: calc(var(--titre)* 2);
}}
  @media (max-width:768px){
   height:120%;
}
  &__tour{
  position: absolute;
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::before{
    content: "";
    display: block;
    padding-top: 56%;
}
  & video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}}}
&__contenu2{
  position: absolute;
  top:-1px;
  right: -1px;
  background-color: var(--blanc);
  padding: 0 0 var(--gap) var(--gap);
  border-radius: 0 0 0 var(--bordure);
  user-select: none;
  padding-right: var( --padding-offset);

  @media (max-width:768px){
    display: none;
}
  & .accueil__gros-titre{
    margin-bottom: -0.1075em;
    margin-left: -0.0175em;
    margin-top: -0.025em;
    font-size: 21.65vw;
    font-size: calc(var(--titre)* 1.7);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    line-height: 0.85;
    text-transform: uppercase;
}
  &__coin{
    position: absolute;
    top: 0.5px;
    left: 0.5px;
    transform: translate(-100%,0%) rotate(90deg);
 
    width:  calc(var(--bordure)* var( --coin)); 
    height:  calc(var(--bordure)* var( --coin)); 
    background-image: radial-gradient(circle at 100% 100%, 
    transparent calc(var(--bordure)* var( --coin)), 
    var(--blanc) calc((var(--bordure)* var( --coin)) + 0.5px));
  }}}}
  .coin2{
  transform: translate(1007%, 398%) rotate(90deg);
}
  @media (max-width:768px){
  .accueil__video__contenu2 .accueil__gros-titre{
    display: none;
}
  .accueil .accueil__gros-titre{
   flex-direction: row;
}}