@charset "UTF-8";
/**
 * @author Prenom Nom <courriel>
 * @todo Lier les modules avec des instructions @import
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ****************************/
/** Normalize **/
/**** UTILITAIRES ****************************/
/** Variables **/
/**
* @author Prenom Nom courriel
*/
/** Polices de caractères **/
/** Palette de couleurs **/
/* Couleurs de base */
/* Autres couleurs */
/** Points de rupture **/
/** Mixins **/
/**
* @author Ève Février - efevrier@cegep-ste-foy.qc.ca
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */
/********** Utilitaires de base **********/
/** Box sizing **/
/* Clearfix */
/********* Accessibilité *********/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/****** BASE ********************************/
/** Typographie **/
/**
* @author Prenom Nom courriel
*/
/******** Typographie *********/
@font-face {
  font-family: Roboto, sans-serif;
  src: url("../fonts/Roboto-Regular.ttc") format("truetype");
}
/**** Typographie responsive ****/
html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  /* 16px pour toutes les largeurs d'écran */
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}
h1,
.titreNiveau1,
h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

h1,
.titreNiveau1 {
  font-size: 28px;
  font-size: 2.8rem;
  margin: 0;
}
h1--desktop,
.titreNiveau1--desktop {
  font-size: 48px;
  font-size: 4.8rem;
  padding-bottom: 15px;
  position: relative;
}
h1--desktop:after,
.titreNiveau1--desktop:after {
  background-color: #358ae0;
  content: "";
  display: inline-block;
  width: 150px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h2,
.titreNiveau2 {
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
}
h2--desktop,
.titreNiveau2--desktop {
  font-size: 28px;
  font-size: 2.8rem;
}

h3,
.titreNiveau3 {
  font-size: 18px;
  font-size: 1.8rem;
}
h3--desktop,
.titreNiveau3--desktop {
  font-size: 22px;
  font-size: 2.2rem;
}

.texte {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.375;
}
.texte--desktop {
  line-height: 1.5;
}

/** Hyperliens **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.hyperlien {
  color: #2678B5;
  font-size: 48px;
  text-decoration: none;
}
.hyperlien:visited {
  color: #226aa0;
}
.hyperlien:hover {
  color: #144061;
  text-decoration: underline;
}
.hyperlien:active {
  color: #012d61;
  text-decoration: underline;
}

/** Boutons **/
/**
* @author Prenom Nom courriel
*/
.bouton {
  text-decoration: none;
  border-radius: 18px;
  padding: 0.5em 1em;
  background-color: #bbd531;
  color: black;
}
.bouton:after {
  margin-left: 0.4em;
}
.bouton:hover {
  background-color: rgba(187, 213, 49, 0.75);
}
.bouton:active {
  background-color: rgba(187, 213, 49, 0.5);
}
.bouton--inverse {
  text-decoration: none;
  border-radius: 18px;
  padding: 0.5em 1em;
  background-color: white;
  border: 2px solid black;
}
.bouton--inverse:hover {
  border-color: rgba(187, 213, 49, 0.75);
}
.bouton--inverse:active {
  border-color: rgba(187, 213, 49, 0.5);
}

/** Grille 12 colones **/
/*** Classe conteneur pour le centrage et l'affichage de la grille en arrière-plan ***/
@media (min-width: 600px) {
  .conteneur {
    margin: 0 auto;
    padding: 0;
    /* Grille 12 colonnes en arrière-plan - Mettre en commentaires après usage */
  }
}
/*** Classes pour dimensionner les blocs ***/
@media (min-width: 600px) {
  /*** Classe de base pour l'intégration en flexbox ***/
  .rangee {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* valeur par défaut */
  }
  .cols_1_de_12 {
    width: 6.5%;
  }
  .cols_2_de_12 {
    width: 15%;
  }
  .cols_3_de_12 {
    width: 23.5%;
  }
  .cols_4_de_12 {
    width: 32%;
  }
  .cols_5_de_12 {
    width: 40.5%;
  }
  .cols_6_de_12 {
    width: 49%;
  }
  .cols_7_de_12 {
    width: 57.5%;
  }
  .cols_8_de_12 {
    width: 66%;
  }
  .cols_9_de_12 {
    width: 74.5%;
  }
  .cols_10_de_12 {
    width: 83%;
  }
  .cols_11_de_12 {
    width: 91.5%;
  }
  .cols_12_de_12 {
    width: 100%;
  }
}
/****** MODULES *****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toggle-bouton {
  display: flex;
  justify-content: flex-end;
}

.burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75em 2em 1.5em 2em;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger:before,
.burger:after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background-color: #000000;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-3px);
}

.burger:after {
  transform: translateY(3px);
}

.active.burger:before {
  background-color: white;
  transform: translateY(0px) rotate(45deg);
}

.active.burger:after {
  background-color: white;
  transform: translateY(0px) rotate(-45deg);
}

.menu__liste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: fixed;
  gap: 1em;
}

.menu__lien {
  font-size: 4em;
  font-weight: 1000;
  color: white;
  text-decoration: none;
  transition: all 250ms ease-out;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.menu {
  z-index: 100;
  position: fixed;
  padding: 50px;
  width: 100vw;
  height: 100vh;
}

.char {
  opacity: 0;
}

.menu__listeItem {
  list-style: none;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}

.menu__liste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 50%;
}

.menu__lien {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 8rem;
  font-weight: 1000;
}

.menu__lien:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}

.entete {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 100vh;
}

/****** LAYOUT *****************************/
.piedDePage {
  background-color: #68a8e8;
}/*# sourceMappingURL=styles.css.map */