.body {
    background-color: #e7fce0;
}

.main_title {
    color: #000;
    text-align: center;
    font-family: "Holtwood One SC";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 960px;
    margin: 50px auto;
}

.main_main {
    border-radius: 100px;
    background: linear-gradient(152deg, #7c004a 17.31%, #2c695f 82.12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin: 100px 0;
    padding: 100px;
}

/* Dropdown Button */
.dropbtn {
    border-radius: 4px;
    background: #6851ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dates_section {
    border-radius: 25px;
    border: 20px solid #d1ec7a;
    background: #fff;
    display: inline-flex;
    height: 220px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.main_dates-liste {
    display: inline-flex;
    height: 228.909px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    list-style: none;
}

.dates_liste-item {
    border-radius: 25px;
    background: #3a6a45;
    color: #d1ec7a;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 120px;
    height: 120px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date_lien:hover .dates_liste-item {
    border-radius: 25px;
    background: #d1ec7a;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    color: #3a6a45;
}

.dates_list-jour {
    text-align: center;
    font-family: "IBM Plex Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.dates_list-date {
    text-align: center;
    font-family: "IBM Plex Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.dates_list-mois {
    text-align: center;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dates_button {
    color: #3a6a45;
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("../images/Arrow.png");
    background-position: right;
    background-repeat: no-repeat;
}

.next {
    transform: rotate(180deg);
}

.artistes_section {
    border-radius: 25px;
    border: 20px solid #d1ec7a;
    background: #fff;
    display: flex;
    width: 960px;
    padding: 40px 50px;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.artistes_section-titre {
    padding-left: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/Ellipse 1.png");
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}

.main_artiste-titre {
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 60% */
    margin-bottom: 15px;
}

.main_artiste-soustitre {
    color: #000;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 96% */
}

.artiste_horaire {
    display: flex;
    flex-direction: row;
    width: 387px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F3F3F3;
}

.artiste_horaire-information {
    display: flex;
    width: 181px;
    height: 139px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}

.style_artiste {
    color: #3A6A45;
    padding-left: 30px;
    background-image: url("../images/Style.png");
    background-position: left;
    background-repeat: no-repeat;
}

.permissionSlip {
    color: #354E98;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    padding-left: 30px;
    background-image: url("../images/Permission.png");
    background-position: left;
    background-repeat: no-repeat;
}

.artiste_horaire-time {
    display: flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #3A6A45;
    color: #D1EC7A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    max-width: 100px;
}

.lien_sans-deco {
    text-decoration: none;
}