/**
 * @author Daoud Coulibaly 2040480@csfoy.ca
 * Intégration de la partie détaillée de la fiche d'artiste
 */

/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Information de l'artiste
    ** Titre
    ** Styles
    ** Provenance
    ** Biographie
    ** Image
 * Conteneur des médias et représentations
    ** médias/représentations règles générales
        ***Titre
        ***Séparateur
        *** Liste
    ** Médias
        *** Item
        *** Icones
    ** Représentations
 */

/****** Information de l'artiste ****************************/
.infoArtiste{
    background: linear-gradient(#7c004a 17.31%, #2c695f 82.12%);
    padding:  50px 20px;
    border-radius: 50px;
    color: #D1EC7A;

    @media screen and (min-width: $desktop){
        padding:  30px 220px;
        border-radius: 100px;
    }

    /****** Information de l'artiste ****************************/
    /** Titre **/
    &__nom{
        font-family: $fonteTitre;
        @include fontSize(30px);
        text-transform: uppercase;
        text-align: center;

        @media screen and (min-width: $desktop){
            @include fontSize(70px);
        }
    }

    /** Styles **/
    &__styles{
        font-family: 'ibm plex mono';
        @include fontSize(20px);
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        border: solid 2px #D1EC7A;
        border-radius: 30px;
    }

    /** Provenance **/
    &__provenance{
        @include fontSize(16px);
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;

        @media screen and (min-width: $desktop){
            @include fontSize(36px);
        }
        
        &--smallSize{
            text-transform: lowercase;

            @media screen and (min-width: $desktop){
                @include fontSize(22px);
            }
        }
    }
    
    /** Biographie **/
    &__biographie{
        max-width: 660px;
        margin: 60px auto 0 auto;

        @media screen and (min-width: $desktop){
            margin: 90px auto 0 auto;
        }
    }

    /** Image **/
    &__image{
        display: block;
        max-width: 320px;
        margin: 40px auto;
        border-radius: 20px;
        border: solid 5px #D1EC7A;

        @media screen and (min-width: $desktop){
            max-width: 200px;
            margin: 60px auto;
        }
    }

    /****** Conteneur des médias et représentations ****************************/
    /** médias/représentations règles générales **/
    &__conteneurMediasRepresentations{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 40px auto;
        width: 100%;

        @media screen and (min-width: $desktop){
            grid-template-columns: 50% 50%;
        }
    }

    &__medias, &__representations{
        background-color: white;
        color: #366A4D;
        border-radius: 30px;
        border: solid 10px #D1EC7A;
        // margin: 0 auto;
        width: 100%;
        height: 100%;
        max-height: 400px;
        padding-bottom: 20px;

        /*** Titre ***/
        &__titre{
            @include fontSize(25px);
            // @include fontSize(36px);
            text-transform: uppercase;
            margin: 40px 20px 0 20px;
            font-weight: 800;
        }

        /*** Séparateur ***/
        hr{
            border: none;
            border-top: solid 3px #366A4D;
            margin: 20px 20px 25px 20px;
        }

        /*** Liste ***/
        &__liste{
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 10px;
            padding: 0 20px;
            width: 100%;
        }

        /*** Lien ***/
        &__lien{
            color: #366A4D;
            text-decoration: none;

            &:hover{
                background-color: #6A3D96;
            }
        }
    }

    /** Médias **/
    &__medias{
        /*** Item ***/
        &__item{
            background-color: #F3F3F3;
            padding: 17.5px 20px;
            border-radius: 20px;
            max-height: 75px;
            white-space: nowrap; //Empêche le texte de passer à la ligne
            text-overflow: ellipsis; //Cache le texte qui dépasse
            overflow: hidden; //Cache le texte qui dépasse
        }

        /*** Icones ***/
        &__iconeInternet, &__iconeMyspace{
            min-width: 25px;
            min-height: 25px;
            display: inline-block;
            vertical-align: middle; //Mettre tout le contenu au milieu
            margin-right: 10px;
            background-size: contain;

            @media screen and (min-width: $desktop){
                min-width: 40px;
                min-height: 40px;
            }
        }
        &__iconeInternet{
            background-image: url('../images/fiche_artiste/icons_internet.svg');
        }
        &__iconeMyspace{
            background-image: url('../images/fiche_artiste/icons_myspace.svg');
        }
    }

    /** Représentations **/
    &__representations{
        /*** Item ***/
        &__item{
            background-color: #F3F3F3;
            padding: 17.5px 20px;
            border-radius: 20px;
        }

        /*** Lieu et date ***/
        &__emplacements{
            &__lieu{
                margin: 10px 0;
            }
            /**** Icones ****/
            &__iconeDate, &__iconeLieu{
                min-width: 25px;
                min-height: 25px;
                display: inline-block;
                vertical-align: middle; //Mettre tout le contenu au milieu
                margin-right: 10px;
                background-size: contain;
    
                @media screen and (min-width: $desktop){
                    min-width: 40px;
                    min-height: 40px;
                }
            }

            &__iconeDate{
                background-image: url('../images/fiche_artiste/icons_date.svg');
            }
            &__iconeLieu{
                background-image: url('../images/fiche_artiste/icons_lieu.svg');
            }
        }

        /*** Heure ***/
        &__heure{
            color: #D1EC7A;
            background-color: #3A6A45;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding: 12px 0;
            border-radius: 15px;
            gap: 5px;
            margin-top: 10px;
        }

        &__texteHeure{
            font-size: 20px;
            font-family: $fonteSecondaire;
        }

        
    }
}